#shoppingCartRight {
    right: -12%;
    bottom: 276px;
    position: fixed;
    width: 240px;
    height: 210px;
    background: #FFFAA8;
    padding: 5px;
    margin-right: 200px;
    float: right;

}#shoppingCart {
    width: 240px;
    height: 210px;
    background: #FFFAA8;
    padding: 5px;
    margin-right: 200px;
    float: right;

}

#shoppingCartBtn {
    background: #BAEB9B;
    border-radius: 10px;
    border: 1px solid #9cdd72;
    display: inline-block;
    font-size: 0.84615em;
    padding: 11px 30px 0.36364em;
    position: absolute;
}
